.header-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-weight: 700;
  line-height: 1.3;
  color: #111827;
}

.subtitle {
  color: #6b7280;
  font-weight: 500;
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 12px;
  }
}
